modules = ["nodejs-20", "web"]
[agent]
expertMode = true
integrations = ["javascript_supabase:1.0.0", "javascript_log_in_with_replit:1.0.0"]

[nix]
channel = "stable-25_05"

[deployment]
deploymentTarget = "vm"
build = ["npm", "run", "build"]
run = ["NODE_ENV=production", "tsx", "server/index.ts"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Server"

[[workflows.workflow]]
name = "Server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 5001
externalPort = 4200

[[ports]]
localPort = 5002
externalPort = 6000

[[ports]]
localPort = 33177
externalPort = 8000

[[ports]]
localPort = 35303
externalPort = 5173

[[ports]]
localPort = 36851
externalPort = 3003

[[ports]]
localPort = 38269
externalPort = 3000

[[ports]]
localPort = 39115
externalPort = 8080

[[ports]]
localPort = 40813
externalPort = 6800

[[ports]]
localPort = 41679
externalPort = 3001

[[ports]]
localPort = 42133
externalPort = 5000

[[ports]]
localPort = 43553
externalPort = 3002

[[ports]]
localPort = 46321
externalPort = 8008
